#wraper {
	background-image: url('background-small.jpg');
	background-color: grey;
	background-repeat: repeat;
}

#page {
	width: 900px;
	margin: 0 auto;
	background-color: white;
	border-top: 1px #eeeeee solid;
	border-left: 20px #eeeeee solid;
	border-right: 20px #eeeeee solid;
}

/* HEADER */

#header {
	
}

#login {
	height: 30px;
	background-color: #eeeeee;
	width: 100%;
}

#login > div {
	float: right;
	padding-right: 50px;
	padding-top: 4px;
	font-size: smaller;
}

#titulo {
	
}

#titulo > h1 {
	text-align: center;
	font-size: 4em;
}

#menu {
   font-size: 1.3em;
   width: 500px;
   padding: 20px;
   margin: 0 auto; 
   position: relative;
}

#navbar {
   margin: 0 auto;
   margin-left: 100px;
   padding: 0;
   height: 1em;
   
}

#navbar > li {
   border-right: 1px black solid;
}

#navbar > li:last-child {
	border-right: 1px white solid;
}

#navbar li {
   list-style: none;
   float: left;
}

#navbar li a {
   display: block;
   padding: 3px 8px;
   text-decoration: none;
}

#navbar li ul {
   display: none; 
   width: 10em;
}

#navbar li:hover ul, #menu li.hover ul {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0;
}

#navbar li:hover li, #menu li.hover li {
   float: none;
}

#navbar li:hover li a, #menu li.hover li a {
   color: #000;
}

#navbar li li a:hover {
   text-decoration: underline;
}

/* CONTENT */

#content {
	padding-bottom: 80px;
}

#description {
	padding-top: 110px;
}

#description > div {
	margin: 0 auto;
	width: 50%;
}

#description > div > p {
	text-align: center;
}


/* FOOTER */


#footer {
	height: 40px;
	background-color: #eeeeee;
	width: 100%;
}

#footer > div {
	float: right;
	padding-right: 50px;
	font-size: smaller;
}
